.box1 {
  width: 400px;
  height: 200px;
  background: #8b5cf6;

  float: left;
}
.box2 {
  width: 400px;
  height: 200px;
  background: #10b981;

  float: left;
}
.box3 {
  width: 200px;
  height: 200px;
  background: #f59e0b;

  float: right;
}
